* {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* header */
.header {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 350px;
}

a {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
}

/* hero-container */
.hero-container {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 250px;
    padding: 120px 350px;
}
.hero-left {
    width: 415px;
}

.hero-title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
}

.hero-text {
    color: #E5E7EB;
    font-size: 18px;
    padding-top: 12px;
    padding-bottom: 12px;
}

button {
    font-size: 18px;
    padding: 8px 32px;
    border-radius: 12px;
    border: none;
}

.button-one {
    color: #F9FAF8;
    background-color: #3882F6;
}

.hero-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-placeholder {
    color: #F9FAF8;
    background-color: #6D747D;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 600px;
}

/* information-container */
.information-container {
    display: flex;
    flex-direction: column;
}

.information-title {
    color: #1F2937;
    font-size: 34px;
    font-weight: 800;
    text-align: center;
    padding: 50px;
}

.item-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    padding-bottom: 85px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 180px;
}

.item-img {
    height: 150px;
    width: 150px;
    border: 3px solid #3882F6;
    border-radius: 12px;
}

/* quote-container */
.quote-container {
    background: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 120px 525px;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.author {
    font-size: 20px;
    font-weight: 800;
    text-align: right;
}

/* action container */
.action-container {
    color: #F9FAF8;
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    padding: 60px 50px;
    margin: 120px 325px;
    border-radius: 12px;
}

.action-title {
    font-size: 20px;
    font-weight: 800;
}

.button-two {
    color: #F9FAF8;
    background-color: #3882F6;
    border: 2px solid;
    border-color: #F9FAF8;
}

/* footer */
.footer {
    color: #E5E7EB;
    background-color: #1F2937;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    flex-shrink: 0;
}